
.container .navbar{
    background: rgba(159, 106, 0, 0.4)
}

.navbar ul li a:hover {
    background: #e3ab13;
    border-radius: 2px;
}

.navbar .logo a{
    color: #f80505;

}

.container {
    display: flex;
    flex-direction: column;
}

.container .center{
    display: flex;
    position: relative;
    position:absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    align-items: flex-start; 
    font-family: sans-serif;
    user-select: none;
}

.center .left {
    flex-grow: 1; /* Diğer içerikler kadar büyümeye izin verir */
    flex-shrink: 0; /* Küçülmesine izin verme */
    flex-basis: auto; /* Temel boyutu otomatik ayarla */
    display: flex;
    flex-direction: column; /* Dikeyde sıralama */
    gap: 20px;
    width: 50%;
    padding-top: 30px;
    background-color: rgba(138, 62, 0, 0.9);
}

.center .right {
    flex-grow: 2; /* Diğer içeriklerden iki kat daha büyür */
    flex-shrink: 0; /* Küçülmesine izin verme */
    flex-basis: auto; /* Temel boyutu otomatik ayarla */
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column; /* Dikeyde sıralama */
    justify-content: center;
    background-color: rgba(138, 62, 0, 0.9);
}


.center .right p{
    color: rgb(207, 206, 206);
    font-size: 20px;
    width: auto;
    font-weight: bold;
    
    line-height: 1.5; 
    font-family:sans-serif;
    
}

.center h1{
    color: rgb(0, 164, 25);
    font-size: 35px;
    font-weight: bolder;
    width: auto;
    text-align:center;
    line-height: 1.7;
    font-family:cursive;
}

.group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Resimleri yatayda yay */
    margin-top: 20px;
}

.group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.group-image {
    width: 100%;
    height: auto;
    border: 2px solid #005c64;
    border-radius: 5px;   
}

.group-description {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.navbar ul li a{
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.left .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* İki resim arasındaki boşluk */
}

.left-image {
    width: calc(50% - 5px); /* İki resmi yarıya bölmek için */
    height: auto; /* Otomatik yükseklik */
}

.group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(40% - 10px); /* Yan yana iki resim olacak şekilde genişliği ayarla */
}