html, body{
    overflow: hidden;
}

.container .navbar{
    background: rgba(159, 106, 0, 0.4)
}

.navbar ul li a:hover {
    background: #e3ab13;
    border-radius: 2px;
}

.navbar .logo a{
    color: #f80505;

}

.container {
    display: flex;
    flex-direction: column;
}

.container .center{
    display: flex;
    flex-direction: row;
    position:absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    align-items: flex-start; 
    font-family: sans-serif;
    user-select: none;
}

.center .left, .center .right {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 48%;
    padding: 20px;
    background-color: rgba(138, 62, 0, 0.9);
    margin: 10px;
    border-radius: 10px;
}

.center .right p, .center .right h1 {
    color: rgb(207, 206, 206);
}

.center .right h1 {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.7;
    font-family: cursive;
}


.center .right p{
    
    font-size: 20px;
    width: auto;
    font-weight: bold;
    
    line-height: 1.5; 
    
    
}


.group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Resimleri yatayda yay */
    margin-top: 20px;
}

.group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.group-image {
    width: 100%;
    height: auto;
    border: 2px solid #005c64;
    border-radius: 5px;   
}

.group-description {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.navbar ul li a{
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    color: antiquewhite;
    text-decoration: none;
    font-size: 19px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}


.left .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* İki resim arasındaki boşluk */
}

.left-image {
    width: calc(50% - 5px); /* İki resmi yarıya bölmek için */
    height: auto; /* Otomatik yükseklik */
}

.group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(40% - 10px); /* Yan yana iki resim olacak şekilde genişliği ayarla */
}

