.container .navbar{
    background: rgba(209, 82, 8, 0.4)
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 40, 3); /* Arka plan rengini siyah yapar */
}

.navbar ul li a:hover {
    background: #eaa903;
    border-radius: 2px;
}

.navbar .logo a{
    color: #eaa903;

}

.container .center{
    display: flex;
    position: relative;
    position:absolute;
    top: 100px;
    left: 80px;
    right: 20px;
    justify-content: space-between;
    align-items: flex-start; 
    font-family: sans-serif;
    user-select: none;
}

.center .baslik1 h1{
    color: rgb(237, 187, 94);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;
    font-family: monospace;
}

.center .baslik1 h2{
    color: rgb(237, 187, 94);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;
    font-family: monospace;
}

.center .baslik1 h3{
    color: rgb(237, 187, 94);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;
    font-family: monospace;
}

.center .baslik2 h1{
    color: rgb(159, 113, 25);
    font-size: 20px;
    font-weight: bold;
    width: auto;
    text-align:left;
    line-height: 2;
    font-family: monospace;
}

.center .baslik2 h2{
    color: rgb(237, 187, 94);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;
    font-family: monospace;
}

.center .baslik2 h3{
    color: rgb(237, 187, 94);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;
    font-family: monospace;
}


.center .baslik3 {
    color: rgb(219, 211, 197);
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    text-align:left;
    line-height: 1.5;

    font-family: monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #222;
}

table, th, td {
    border: 1px solid #005c64;
}

th, td {
    padding: 15px; 
    text-align: left;
}

th {
    background-color: #005c64;
    color: rgb(217, 226, 177);
}

tbody tr:nth-child(even) {
    background-color: #333;
}

.image-container {
    position: absolute;
    top: 30px;
    right: 500px;
    max-width: 195px; 
}

.image-container img {
    width: 100%;
    height: auto;
    border: 5px solid #eaa903; /* Çerçeve genişliği ve rengi */
    border-radius: 10px; /* Köşelerin yuvarlaklığı, isteğe bağlı */
}

